@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Sans-serif;
}

body {
    background-color: rgb(251,248,238);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    height: 470px;
    background-color: rgb(186,173,161);
    border: 7px solid rgb(186,173,161);
    border-radius: 9px;
    justify-content: space-evenly;
    align-content: space-evenly;

}
  
.grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    line-height: 2.1;
}
  
.info {
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title h1 {
    font-size: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.title {
    color: rgb(118,110,100);
    margin-bottom: 0;
    padding-bottom: 0;
}

.name-one {
    font-size: 70px;
    font-weight: bold;
}
.name-two {
    font-size: 40px;
    font-weight: bold;
    margin-top: -1.8rem;
    font-style: italic;
    color: rgb(221, 145, 30);
}
.score-container {
    display: flex;
    flex-direction: column;
    height: 4rem;
    width: 8rem;
    background-color: rgb(186,173,161);
    border-radius: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.score-title {
    color: rgb(239,228,219);
    font-weight: bold;
    font-size: 15px;
}

#score {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.sub {
    margin-top: 9.5rem;
    text-align: center;
}

.sub p {
    color: rgb(118,110,100);
    font-size: 14px;
}

.sub a {
    color: rgb(118,110,100);
    font-weight: bold;
    font-size: 14px;
}